body {
    margin-top: 60px;
}

/* Home */
a {
    color: black;
    text-decoration: none;
}
button {
    border-radius: 15px;
    padding: 5px 10px;
    width: 100px;
}
body {
    font-family: arial, sans-serif;    
}
.featured-container {
    display: flex;
    justify-content: space-evenly;
}
.featured-books {
    width: 100px;
    height: 150px;
    border: 1px solid black;
}
.featured-container-main {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}
.featured-info {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 50%;
    
}
.featured-buttons {
    flex-direction: row;
}
#main-featured {
    height: 300px;
    width: 200px;
    display: inline-block;
    border: 1px solid black;
}
.discover-text {
    font-family: "Dancing Script";
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 80px;
}
.categories-container {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    padding: 20px;
    background-color: black;   
}
.categories {
    color: white;
}
.categoriesTitle {
    color: white;
}
.div-categories {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.text-justify {
    text-align: justify;
}
.text-left {
    text-align: left;
}
.reviewbutton {
    background-color: rgb(255, 136, 0);
    color: white;
}
.buybutton {
    background-color: green;
    color: white;
}
/* Browse */

.books-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.books-all {
    width: 250px;
    height: 400px;
    margin: 20px;
    border: 1px solid black;
    
}
.accord-cat {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.books-text {
    margin-left: 20px;
    height: 280px;
    max-width: 300px;
    text-align: justify;
}
/* Login */
.text-center {
    text-align: center;
}
#loginform {
    width: 300px;
    height: 300px;
    border: 1px solid #CEC3C3;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
#signupform {
    width: 300px;
    height: 500px;
    border: 1px solid #CEC3C3;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.formlabels {
    font-weight: bold;
}
.logincontainer {
    margin-top: 50px;
}
.inputfields {
    margin: 5px;
    border-radius: 3px;
}

#login-button {
    background-color: black;
    color: white;
    margin-top: 20px;
    width: 50%;
}
/* Sign Up */
.logincontainer {
    display: flex;
    flex-direction: column;
}
#signup-button {
    background-color: black;
    color: white;
}
/* Browse-accordion */
.star-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.byprice {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
/* Review */
.reviewimage {
    display: flex;
    margin-left: 20px;
    width: 300px;
    height: 450px;
}
.reviewitem {
    width: 320px;
}
.review_bookdetails {
    margin-left: 20px;
    border: 1px solid #CEC3C3;
    padding: 10px;
}
.review-container {
    display: flex;
}
.commentcontainer {
    margin: 20px;
}
.createbutton {
    width: 125px;
    background-color: rgb(255, 136, 0);
    color: white;
}
/* Footer */
.footertext {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
    color: white;
    margin-bottom: 0;
    margin-top: 20px;
    height: 50px;
}



/* Media queries */
@media only screen and (max-width: 700px){
    .featured-container-main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .review-container {
        display: flex;
        flex-direction: column;
    }
}
